@using proof_of_concept.Domain.Users.Dto
@{
    Layout = "~/Views/Shared/_LayoutInner.cshtml"; // render sections inside _LayoutInner
}
@model  UserDetailDto

@section HeaderContent { @Html.Partial("_HeaderPartial") }

@section ErrorContent { @Html.Partial("_ErrorContentPartial") }

@section SideBar { @Html.Partial("_SidebarPartial") }

@section ManageContent {
    <div class="col-sm-11 col-sm-offset-1">
        @using (Html.BeginForm("Edit", "Users", FormMethod.Post, new { @class = "form-horizontal", id = "user-detail" }))
            {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Name, new { @class = "col-sm-2 col-sm-offset-2 control-label" })
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.Name, new { type = "text", @class = "form-control", id = "fullname", placeholder = "Full Name" })
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-offset-2 control-label">Contact</label>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 col-sm-4 control-label" })
                        <div class="col-md-10 col-sm-8">
                            @Html.TextBoxFor(m => m.Email, new { type = "email", @class = "form-control", id = "email", placeholder = "Email" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 col-sm-offset-6 control-label">Email Alerts</label>
                        <div class="col-sm-2">
                            <div class="toggles">
                                <input type="checkbox" name="EmailNotification" value="true" class="ios-toggle" id="email-notification" @Html.Raw((Model.EmailNotification) ? "checked=\"checked\"" : "") />
                                <label for="email-notification" class="checkbox-label"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Telephone, new { @class = "col-md-2 col-sm-4 control-label" })
                        <div class="col-md-10 col-sm-8">
                            @Html.TextBoxFor(m => m.Telephone, new { type = "tel", @class = "form-control", id = "telephone", placeholder = "Telephone" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Mobile, new { @class = "col-md-2 col-sm-4 control-label" })
                        <div class="col-md-10 col-sm-8">
                            @Html.TextBoxFor(m => m.Mobile, new { type = "tel", @class = "form-control", id = "mobile", placeholder = "Mobile" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 col-sm-offset-6 control-label">Mobile Alerts</label>
                        <div class="col-sm-2">
                            <div class="toggles">
                                <input type="checkbox" name="SmsNotification" value="true" class="ios-toggle" id="sms-notification" @Html.Raw((Model.SmsNotification) ? "checked=\"checked\"" : "") />
                                <label for="sms-notification" class="checkbox-label"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <br>
                <div class="col-xs-12">
                    <div class="form-group" style="float: right; padding-right: 15px;">
                        @Html.ValidationSummary(false, "", new { @class = "text-danger", style = "display: none" })
                        <button type="submit" class="btn btn-primary" value="Index">Apply</button>
                        <a href="" id="cancel">Cancel</a>
                    </div>
                </div>
            </div>
            }
    </div>
}